<div class="row">
  <section class="blog-post">
    <div class="panel panel-default">
      <img src="img/technology/unsplash-2.jpg" class="img-responsive">
      <div class="panel-body">
        <div class="blog-post-meta">          
          <a ng-href="#/tags/{{tag}}" ng-repeat="tag in article.post.tags"> 
            <span class="label label-light label-warning" >{{tag}}</span>
          </a>
          <p class="blog-post-date pull-right">{{article.post.creationDate | date}}</p>
        </div>
        <div class="blog-post-content">
          <h2 class="blog-post-title">{{article.post.title}}</h2>
          
          {{article.post.conent}}

        </div>
      </div>
    </div>
  </section><!-- /.blog-post -->

  <section class="blog-comments">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="blog-post-title">Comments</h2>
        <div id="disqus_thread"><iframe id="dsq-app2" name="dsq-app2" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="http://disqus.com/embed/comments/?base=default&amp;version=8c6e89d0ebceae7d8179a2293c5b5660&amp;f=materialblogbootstrap&amp;t_u=http%3A%2F%2Fpaullaros.bitbucket.org%2Fmaterial-blog%2Fpost-image.html&amp;t_d=Material%20Blog&amp;t_t=Material%20Blog&amp;s_o=default" style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 321px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div>
        <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//materialblogbootstrap.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the &lt;a href="https://disqus.com/?ref_noscript" rel="nofollow"&gt;comments powered by Disqus.&lt;/a&gt;</noscript>
      </div>
    </div>
  </section>

               <nav>
                  <ul class="pager">
                     <li><a class="withripple" href="#">Previous</a></li>
                     <li>
                        <a class="withripple" ng-click="">
                           Next
                           <div class="ripple-container"></div>
                        </a>
                     </li>
                  </ul>
               </nav>
</div>