<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend class="text-center header">Contact us</legend>
                    <h4 class="text-center" ng-show="contact.showSuccessMessage">Thank you for the message. We will get back to you at the earliest.</h4>
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="name" name="name" type="text" placeholder="Full Name" class="form-control" ng-model="contact.name">
                            <span class="blog-error-message" ng-show="contact.nameError">{{contact.nameError}}</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" ng-model="contact.email">
                            <span class="blog-error-message" ng-show="contact.emailError">{{contact.emailError}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                        <div class="col-md-8">
                            <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here." rows="7" ng-model="contact.message"></textarea>
                            <span class="blog-error-message" ng-show="contact.messageError">{{contact.messageError}}</span>
                        </div>
                    </div>
                    
                    <span ng-show="contact.error" >{{contact.error}}</span>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="contact.submitContactForm()">Submit</button>
                        </div>
                    </div>
                </fieldset>
                <!-- Modal -->
                <div class="modal fade" id="contactSuccessModal" role="dialog">
                    <div class="modal-dialog">                        
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Success</h4>
                            </div>
                            <div class="modal-body">
                                <p>Thank you for your message. We will get back to you at the earliest.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-backdrop="false" data-dismiss="modal" ng-click="contact.go('/articles')">Ok</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>